.active{
  background-color: #1D2833;;
  border-radius: 23px;
  padding: 0px;
  margin-top: 5px;
  color: white;
}
.navbar-brand{
    font-size: 30px;
    font-weight: 700;
}
.bi{
    width: 100px;
    height: 100px;
    margin: 5px;
    color: #979b9f;;
}


li{
    color: white;
    font-size: 18px;
    /* Sspadding: 2px; */
    font-weight: bold;
}

.btn{
   border: 1px solid #00c289;;
   font-weight: bold;
font-size: 15px;
   border-radius: 30px;
   padding: 10px;
    background-color: #1D2833;
}
.span{
    color: #979b9f;
    font-size: 18px;
    margin-right: 10px;
}

.section1{
    display: flex;
    justify-content: left;
    color: #979b9f;
 .icon{

/* padding: 5px; */
border-radius: 30px;
height: fit-content;
    }

    .head{
   font-size: 28px;
   font-weight: bold;
    }

    .a{
        font-size: 14px;
       color: #979b9f;
    }
}

.section2{
    .left{
        width: 50%;
        
    }
    .right{
        width: 50%;
      
    }
}

.section3{
    display: flex;
  justify-content: center;

}

.over{
    overflow-x:scroll ; 
   
}

.over::-webkit-scrollbar{
    overflow: hidden;
}
.img{
    width: 40px;
    height: 40px;
    /* margin-right: 20px; */
  padding-left: 10px;

  margin-top: 12px;
}
.img1{
    width: 25px;
    height: 25px;
}
.img2{
    width: 40px;
    height: 40px;
}
.position{
   position: absolute;

    height: 100px;
}
.row1{
   display: flex;
   justify-content: center;
}
.row2{
    display: flex;
   justify-content: center; 
}

@media screen and (max-width:1096px){
    .section3{
        display: grid;
      grid-template-columns: 1fr;
    
    }
    .col1{
        display: flex;
        justify-content: space-evenly;
    }

    
    .row1{
        display:grid;
        grid-template-columns: 1 fr;
    }
    .row2{
        display:grid;
        grid-template-columns: 1 fr;
    }

    .btn{
        visibility: hidden;
    }

    .left-side{
        float: left;
    }
}
.bi-x-circle-fill{
    width: 30px;
    height: 30px;
}
#popup{
    display: block;
      justify-content: center;
      text-align: center;
      position: fixed;
      top: 18%;
      border: 1px solid #8080804f;
      left: 36%;
      line-height: 1;
      width: 445px;
      border-radius: 15px;
      padding: 22px 40px;
      background-color: #1D2833;;
  
    
    img{
      padding: 20px;
    }
  
    p{
      font-family: 'Poppins';
      font-size: 24px;
      padding: 10px;
      font-weight: 500;
    }
    .buttonn{
      padding: 16px 10px;
      margin: 10px;
      border: 1px solid #ce7989;
      width: 170px;
      font-size: 19px;
      box-shadow: black;
      color: white;
      background: #E88F9F;
      border-radius: 7px
    }
  }